/* Navbar.css */

.navbar {
    background-color: #333;
    padding: 10px 0;
    color: white;
    
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .navlink{
    text-decoration: none;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  
  .navbar-menu {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;
    }
  }
  
  .navbar-menu.open {
    opacity: 1;
    pointer-events: auto;
  }
  
  .navbar-item {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    @media (max-width: 768px) {
      margin: 10px 0;
    }
  }
  
  .navbar-mobile-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    @media (max-width: 768px) {
      display: block;
    }
  }
  