.containermap {
  display: flex;
  height: 100vh;
}

.mapContainer {
  width: 50%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
}

.mapDiv {
  height: 100vh;

}

.rightPanel {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Add your other styles as needed */


.mapDiv {
  height: 100vh; /* Set a specific height for the map */
}
.btncustom {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: .3s ease;
    text-decoration: none;
  }
  
  .btncustom::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #0B2447;
    transition: .3s ease;
  }
  
  .btncustom:hover {
    color: #fff;
    transition-delay: .3s;
  }
  
  .btncustom:hover::before {
    width: 100%;
  }
  
  .btncustom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #0B2447;
    transition: .3s ease;
    z-index: -1;
  }
  
  .btncustom:hover::after {
    height: 100%;
    transition-delay: 0.3s;
    color: aliceblue;
  }


  .input-container {
    position: relative;
    width: 217px;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  .input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
    font-size: 16px;
    background: transparent;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    width: 190px;
    transition: .2s linear;
    border: 2.5px solid black;
    text-transform: uppercase;
    letter-spacing: 2px;
    
  }

  .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-infos{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-container {
    width: 220px;
    height: 100px;
  }
  .input-container label {
    font-weight: 600;
    padding: 10px;
    padding-bottom: 20px;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }

  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }


  .card {
    position:absolute;
    width: 70%;
    height: 254px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    gap: 5px;
    padding: .4em;
    margin: 10px;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #fff;
    border: 1px solid #0B2447;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card p:hover {
    flex: 6;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #0B2447;
    font-weight: 500;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    transform: rotate(0);
  }

  .detail{
    display: none;
    
  }
  .card p:hover .detail {
    display: block;
    transform: rotate(0);
  }
  .infos-container{
    display: flex;
    
    justify-content: center;
    
    
    
  }




  .toggle-container {
    --active-color: #0B2447;
    --inactive-color: #d3d3d6;
    position: relative;
    aspect-ratio: 292 / 142;
    height: 1.875em;
  }
  
  .toggle-input {
    appearance: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .toggle {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  
  .toggle-background {
    fill: var(--inactive-color);
    transition: fill .4s;
  }
  
  .toggle-input:checked + .toggle .toggle-background {
    fill: var(--active-color);
  }
  
  .toggle-circle-center {
    transform-origin: center;
    transition: transform .6s;
  }
  
  .toggle-input:checked + .toggle .toggle-circle-center {
    transform: translateX(150px);
  }
  
  .toggle-circle {
    transform-origin: center;
    transition: transform .45s;
    backface-visibility: hidden;
  }
  
  .toggle-circle.left {
    transform: scale(1);
  }
  
  .toggle-input:checked + .toggle .toggle-circle.left {
    transform: scale(0);
  }
  
  .toggle-circle.right {
    transform: scale(0);
  }
  
  .toggle-input:checked + .toggle .toggle-circle.right {
    transform: scale(1);
  }
  
  .toggle-icon {
    transition: fill .4s;
  }
  
  .toggle-icon.on {
    fill: var(--inactive-color);
  }
  
  .toggle-input:checked + .toggle .toggle-icon.on {
    fill: #fff;
  }
  
  .toggle-icon.off {
    fill: #eaeaec;
  }
  
  .toggle-input:checked + .toggle .toggle-icon.off {
    fill: var(--active-color);
  }



  body.active-modal {
    overflow-y: hidden;
    
}

.modalcard, .overlaycard {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    
}
.modalcard{
  z-index: 99;
}

.overlaycard {

    background: rgba(49,49,49,0.8);
    
}
.modal-content-card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-content-card p{
  font-size: 30px;
  text-align: center;
}
.modal-content-card p{
  font-size: 30px;
  text-align: center;
}




.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #0B2447;
  --bg-color: #0B2441;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(33px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.btns-container{
  display: flex;
  align-items: center;
  gap: 62px;
}
.table-route{
  margin-top: 20px;
}