.container {
  display: flex;
}

.mapContainer {
  width: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.mapDiv {
  height: 100%;
}

.rightPanel {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  box-sizing: border-box;
}

/* Add your other styles as needed */


.mapDiv {
  height: 90vh; /* Set a specific height for the map */
  margin: 20px;
}
.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: .3s ease;
    text-decoration: none;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #0B2447;
    transition: .3s ease;
  }
  
  .btn:hover {
    color: #fff;
    transition-delay: .3s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #0B2447;
    transition: .3s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.3s;
    color: aliceblue;
  }


  .input-container {
    position: relative;
    width: 217px;
    margin: 10px;
    margin-bottom: 20px;
  }
  
  .input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
    font-size: 16px;
    background: transparent;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    width: 190px;
    transition: .2s linear;
    border: 2.5px solid black;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .inputs{
    display: flex;
    align-items: center;
  }
  .form-infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .input-container {
    width: 220px;
    position: relative;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }

  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }


  .card {
    position:absolute;
    width: 70%;
    height: 254px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    gap: 5px;
    padding: .4em;
    margin: 10px;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #fff;
    border: 1px solid #0B2447;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card p:hover {
    flex: 6;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #0B2447;
    font-weight: 500;
    letter-spacing: .1em;
  }
  
  .card p:hover span {
    transform: rotate(0);
  }

  .detail{
    display: none;
    
  }
  .card p:hover .detail {
    display: block;
    transform: rotate(0);
  }
  .infos-container{
    display: flex;
    
    justify-content: center;
    
    
    
  }